In [6]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import webbrowser
from scipy.stats import chi2
import numpy as np
import statsmodels.api as sm
from statsmodels.stats.diagnostic import het_breuschpagan
lowess = sm.nonparametric.lowess
import seaborn as sns
import matplotlib.image as mpimg

In [7]:
os.getcwd()

# Write or choose your path here !!! >>
path = "C:/Users/mixas/binary 2"
fileName = "hmda"
os.chdir(path)

from my_tests import tabstat
from my_summary_col import summary_col
df = pd.read_stata(fileName +'.dta', iterator=True)
display(df.variable_labels())

{'deny': 'Factor. Was the mortgage denied?',
 'pirat': 'Payments to income ratio.',
 'hirat': 'Housing expense to income ratio.',
 'lvrat': 'Loan to value ratio.',
 'chist': 'Credit history: consumer payments.',
 'mhist': 'Credit history: mortgage payments.',
 'phist': 'Factor. Public bad credit record?',
 'unemp': "1989 Massachusetts unemployment rate in applicant's industry.",
 'selfemp': 'Factor. Is the individual self-employed?',
 'insurance': 'Factor. Was the individual denied mortgage insurance?',
 'condomin': 'Factor. Is the unit a condominium?',
 'afam': 'Factor. Is the individual African-American?',
 'single': 'Factor. Is the individual single?',
 'hschool': 'Factor. Does the individual have a high-school diploma?'}

In [8]:
# read data >>
dfall = pd.read_stata(fileName +'.dta')

print('\n',dfall.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2380 entries, 0 to 2379
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   deny       2380 non-null   category
 1   pirat      2380 non-null   float64
 2   hirat      2380 non-null   float64
 3   lvrat      2380 non-null   float64
 4   chist      2380 non-null   category
 5   mhist      2380 non-null   category
 6   phist      2380 non-null   category
 7   unemp      2380 non-null   float64
 8   selfemp    2380 non-null   category
 9   insurance  2380 non-null   category
 10  condomin   2380 non-null   category
 11  afam       2380 non-null   category
 12  single     2380 non-null   category
 13  hschool    2380 non-null   category
dtypes: category(10), float64(4)
memory usage: 117.6 KB

 None

In [9]:
# Descriptive statistics >>
display(tabstat(2,dfall))

        count  mean   std   min    max
pirat  2380.0  0.33  0.11  0.00   3.00
hirat  2380.0  0.26  0.10  0.00   3.00
lvrat  2380.0  0.74  0.18  0.02   1.95
unemp  2380.0  3.77  2.03  1.80  10.60

In [15]:
df1 = pd.read_dta("hmda.dta")
df1

AttributeError: module 'pandas' has no attribute 'read_dta'